      /*les styles pour mon projet*/
      
p{
    font-size:30px;
    font-style:;
}

h1{
    text-align:center;
}

form{
    border-radius: 50px;
    background-color:goldenrod;
    :0%
    
}

form{
    text-align:center;
    margin:35px;
}

